.groupAdmGeneral { /* Estilização da tabela geral da pagina de admin */
    width: 100%;
    height: 100%;
    background-color: rgb(5, 82, 63);
}

.sideBarOn{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.sideBarOff{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    #admPageSideBar{
        display: none;
    }
}

#subGroupAdmGeneralTwo {  /* Estilização do subgrupo contido na tabela geral da pagina. Este subgrupo contém os btns e divs "atalhos"*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(24, 1fr);
    grid-column: span 4;
    gap: 1em;
} 

#admPageNavBar{ /* Esta é a navbar da pagina, ela só contém um btn para encolher e expandir a #admPageSideBar(barra lateral), e para conter o nome do usuário e um atalho para o perfil */
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    grid-column: span 4;
    grid-row: span 2;
    background-image: linear-gradient(135deg,  var(--orangenew), #ff850a);
    background-repeat: no-repeat;

    button{
        background: none;
        border: none;
    }
    
    img{
        width: 2em;
        height: 2em;
        filter: invert(100%); /* Um filtro para inverter a cor dos ícones(Hamburguer e User). A cor deles é o preto, mas para seguir o padrão de cores, precisei do branco */
    }
}
/* Existe também o #subGroupAdmGeneralOne, mas este não esta sendo estilizado no momento. Serve apenas para separar as áreas da página*/


.admQuickButton { /* Uma classe para estilizar cada bloquinho dentro do #subGroupAdmGeneralTwo*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    grid-column: span 1;
    grid-row: span 3;
    border-radius: 1em;
    cursor: pointer;
    /* Os outros estilos como: backgroundColor, color e border estão no arquivo do componente */
    
    & > *{ /* Remoção da decoração que é autoaplicada pelo componente <Link> e estilização do texto para branco*/
        text-decoration: none;
    }
}

#admPageSideBar { /* A barra lateral que contém o bloco de notificações(#admPageSideBarNotifications) e os atalhos para cada página e */
    background-image: linear-gradient(135deg, var(--orangenew), #ff850a);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100dvh;
    padding: 0em 1em;
}

#admPageSideBarHeader {
    display: flex;
    justify-content: end;
    margin-bottom: 1em;
    padding-bottom: 15%;
    border-bottom: 1px white solid;
    height: 1.9em;
    b {
        color: white;
        font-size: 1.5em;
    }
}

.admPageSideBarLinks { /* O bloco da barra lateral que contém todos os atalhos mencionados anteriormente */
    display: grid;
    grid-template-columns: 1fr;
    border: none;
    font-size: 1.3em;

    * {
        text-decoration: none;
    }

    span {
        color: white;
        font-weight: 400;
        transition: 0.5s all ease;
        &:hover {
            font-weight: 600;
        }
    }
}

#admPageSideBarNotifications { /* O bloco geral onde estão as notificações */
    display: grid;
    background-color: white;
    border-radius: 0.5em;
    overflow: auto;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    margin-top: 1em;
    padding: 1em;
    box-sizing: border-box;
}

.admPageNotificationItem { /* O bloco de cada notificação contido no bloco geral das notificações */
    background-color: #FFED8F;
    border: 0.2em solid #FFD600;
    border-radius: 1em;
    padding: 1em;
    display: flex;

    .admNotificationsTexts {
        display: flex;
        flex-direction: column;

        &> :nth-child(2) {
            line-height: 1.1em;
        }
    }
}