

.order-info {
    display: grid;
    gap: var(--grid-gap);
    grid-template-rows: 1fr 3fr 1fr;

    > .first-row {
        display: grid;
        gap: var(--grid-gap);
        grid-template-columns: 3fr 1fr;
    }

}