:root {
    --data-display-bg: #fff;
    --data-display-color: #000;
    --border-radius: .2em;
    --grid-gap: .5em;
}

.orders-container {
    border: 2px solid red;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--grid-gap);
    margin: auto 2rem;

    & {
        min-height: 10rem;
    }
}

.data-display {
    font-weight: bold;

    background-color: var(--data-display-bg);
    color: var(--data-display-color);
    border-radius: var(--border-radius);
}

.order-info {
    display: grid;
    gap: var(--grid-gap);
    grid-template-rows: 1fr 3fr 1fr;

    > .first-row {
        display: grid;
        gap: var(--grid-gap);
        grid-template-columns: 3fr 1fr;
    }
}